---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on my <a href="{{site.author.googlescholar}}">Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% assign publications_in_category = site.publications | where: "category", category[0] | reverse %}
    {% if publications_in_category.size > 0 %}
      {% unless title_shown %}
        <h2 class="publication-category">{{ category[1].title }}</h2>
        {% assign title_shown = true %}
      {% endunless %}
      <ol class="publication-list">
        {% for post in publications_in_category %}
          <li class="publication-item">{% include archive-single-publication.html %}</li>
        {% endfor %}
      </ol>
    {% endif %}
  {% endfor %}
{% else %}
  <ol class="publication-list">
    {% for post in site.publications reversed %}
      <li class="publication-item">{% include archive-single-publication.html %}</li>
    {% endfor %}
  </ol>
{% endif %}
