---
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<div class="wordwrap" style="margin-bottom: 2rem;">
  You can also find my articles on my <a href="{{site.author.googlescholar}}">Google Scholar</a> profile.
</div>
{% endif %}

{% assign publications_by_category = site.publications | group_by: 'category' %}
{% for category in publications_by_category %}
  <h2 class="archive__subtitle" style="margin-top: 2.5rem;">{{ site.data.publication_category[category.name].title }}</h2>
  <ol> 
    {% for post in category.items %}
      {% include archive-single.html %}
    {% endfor %}
  </ol>
{% endfor %}
