<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h3 class="archive__item-title" itemprop="headline">
      {{ post.title }}
    </h3>

    {% if post.authors %}
      <p class="archive__item-authors" style="margin: 0.1rem 0;">{{ post.authors | markdownify }}</p>
    {% endif %}

    {% if post.venue %}
      <p class="archive__item-venue" style="margin: 0.1rem 0;">
          {{ post.venue }}
          {% if post.date %}
            , {{ post.date | date: "%Y" }}
          {% endif %}
      </p>
    {% endif %}

    <p class="archive__item-links" style="margin: 0.1rem 0;">
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" target="_blank" rel="noopener noreferrer">[paper]</a>
      {% endif %}
      {% if post.codeurl %}
        <a href="{{ post.codeurl }}" target="_blank" rel="noopener noreferrer">[code]</a>
      {% endif %}
      {% if post.slidesurl %}
        <a href="{{ post.slidesurl }}" target="_blank" rel="noopener noreferrer">[slides]</a>
      {% endif %}
      {% if post.bibtexurl %}
        <a href="{{ post.bibtexurl }}" target="_blank" rel="noopener noreferrer">[bibtex]</a>
      {% endif %}
    </p>
    
  </article>
</div>
